<ion-card *ngFor="let route of routes" >

  <ion-item>
    <h2><ion-icon small name="bus" primary></ion-icon><span primary item-left> Busão {{route.onibus}}</span> {{route.via}}</h2>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-icon small name="clock" item-left></ion-icon>
      <span primary item-left>{{route.ponto_inicial.horario | todate | amDateFormat:'LT'}}</span>
      Saindo {{route.ponto_inicial.nome | stopname}} <span favorite class="item-bold">{{route.ponto_inicial.horario | todate | amTimeAgo}}</span>
    </ion-item>

    <ion-item>
      <ion-icon small name="walk" item-left></ion-icon>
      <span primary item-left>{{route.ponto_final.horario | todate | amDateFormat:'LT'}}</span>
      Chegando {{route.ponto_final.nome | stopname}} <span favorite class="item-bold">{{route.ponto_final.horario | todate | amTimeAgo}}</span>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-icon small name="pin" item-left></ion-icon><span item-left>{{route.paradas.length}} Paradas</span>
    <button primary clear item-right (click)="goToRouteDetail(route)">
      <ion-icon name="navigate"></ion-icon>
      Detalhes
    </button>
  </ion-item>
</ion-card>
