<ion-navbar *navbar>
  <ion-title>Buscar Busão</ion-title>
</ion-navbar>

<ion-content padding class="search-bus">

  <ion-list>
    <ion-item>
      <ion-label>Origem</ion-label>
      <ion-select [(ngModel)]="origem" interface="action-sheet">
        <ion-option *ngFor="let city of cities">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Destino</ion-label>
      <ion-select [(ngModel)]="destino">
        <ion-option *ngFor="let city of cities">{{city.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-list-header>Horarios</ion-list-header>
    <ion-item *ngFor="let time of hours">
        <ion-label>{{time.name}}</ion-label>
        <ion-checkbox [(ngModel)]="time.isChecked"></ion-checkbox>
    </ion-item>

  </ion-list>

  <button (click)="buscar()" block>Buscar</button>

</ion-content>
